body, html{
    margin: 0px;
    font-size: 120%;
}

#header{
    text-align: center;
    background-color: darkslategray;
    color: white;
    margin: 0px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    background-color: lightgreen;
    width: 20em;
    position: fixed;
    top: 4rem;
    opacity: 0.8;
}

nav:hover{
    opacity: 1.0;
}

nav ul{
    padding-left: 25px;
}

img{
    width: 400px;
    padding: 10px;
    border: 5px solid black;
}

article{
    margin-left: 40px;
    min-width: 30rem;
    max-width: 50rem;
    margin: auto;
    margin-top: 4rem;
}

table{
    margin-left: 2em;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid gray;
}

td.ingredient{
    text-align: left;
    padding-right: 2em;
}

td.amount{
    text-align: right;
    padding-left: 2em;
}