body, html{
    margin: 0px;
}

#header{
    text-align: center;
    background-color: darkslategray;
    color: white;
    margin: 0px;
}

nav {
    background-color: lightgreen;
    width: 20em;
}

nav ul{
    padding-left: 25px;
}

img{
    width: 400px;
    padding: 10px;
    border: 5px solid black;
}

article{
    margin-left: 40px;
}

table{
    margin-left: 2em;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid gray;
}

td.ingredient{
    text-align: left;
    padding-right: 2em;
}

td.amount{
    text-align: right;
    padding-left: 2em;
}